<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Searched Patients</h1>
    <a href="/">Home</a>
    <div>
        <% data.forEach((element) => { %>
            <div>
            <p> <%=element.name%> </p>
            <p> <%=element.age%> </p>
            <p> <%=element.doctorName%> </p>
            <p> <%=element.diseaseName%> </p>
            </div>
        <% }) %>
    </div>
</body>
</html>