<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>ADD Vehical</h1>
   <a href="/">HOME</a>
    <form action="/createdata" method="POST">
        <input type="text" name="name" placeholder="Enter vihecal name">
        <input type="number" name="type" placeholder="Type of Viechl">
        <input type="text" name="model" placeholder="Enter Model">
        <input type="number" name="price" placeholder="Enter price">
        <button type="submit">ADD Vehical</button>
    </form>
</body>
</html>