<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Viechl sysyem</h1>

    <div>
        <a href="/addvih">Add Vehical</a>
        <br>
        <a href="/allvih">ALL Vehical</a>
        <br>
        <a href="/searchvih">search Vehical</a>
    </div>
</body>
</html>